<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; Made with &hearts; by <a href="https://github.com/s-katte">Shubham Katte</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>